.popup-menu {
  .popup-sub-menu {
    background-color: $bg_color;
  }
  
  .popup-menu-content {
    background-color: $bg_color;
  }

  .popup-menu-item {
    background-color: transparent !important;
    color: $fg_color;

    &:hover, &:active, &:overview, &:focus, &:checked {
      background-color: $selected_bg_color !important;
      color: $selected_fg_color;
    }

    &:insensitive {
      color: $insensitive_fg_color;
      background-color: $insensitive_bg_color;
    }
  }

  StButton {
    background-color: transparent;

    StIcon {
      color: $fg_color;
    }
  }
}
